@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.css';

@media only screen and (max-width: 600px){
.subLogo{
   padding: 0.7rem;
}
.SubjectList{
    margin-top: 1rem;
}
.Question{
    margin-top: 3rem;
}

.progressiveBar{
    
}
}


/* "subLogo p-4 ml-2 my-2 rounded-md  mr-7 text-2xl" */